In [12]:
##import the data from the files

import os
from os import path
import pandas as pd

In [16]:
path = "F:/"

S1_Dataset_Path = os.path.join(path, "Assignments", "S1_Dataset" )
S2_Dataset_Path = os.path.join(path, "Assignments", "S2_Dataset")

## Searching for the directory


data_path = os.path.join(S1_Dataset_Path, "d1p01M")
s1_data = pd.read_csv(data_path, header=None)
print("Importing Data!!! Done")

Importing Data!!! Done

In [17]:
s1_data.info()
s1_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       401 non-null    float64
 1   1       401 non-null    float64
 2   2       401 non-null    float64
 3   3       401 non-null    float64
 4   4       401 non-null    int64
 5   5       401 non-null    float64
 6   6       401 non-null    float64
 7   7       401 non-null    float64
 8   8       401 non-null    int64
dtypes: float64(7), int64(2)
memory usage: 28.3 KB

      0        1        2         3  4     5       6       7  8
0  0.00  0.27203  1.00820 -0.082102  1 -63.5  2.4252  924.25  1
1  0.50  0.27203  1.00820 -0.082102  1 -63.0  4.7369  921.75  1
2  1.50  0.44791  0.91636 -0.013684  1 -63.5  3.0311  923.75  1
3  1.75  0.44791  0.91636 -0.013684  1 -63.0  2.0371  921.25  1
4  2.50  0.34238  0.96229 -0.059296  1 -63.5  5.8920  920.25  1

In [23]:


path = "F:/"

S1_Dataset_Path = os.path.join(path, "Assignments", "S1_Dataset" )
S2_Dataset_Path = os.path.join(path, "Assignments", "S2_Dataset")

s1_data = pd.DataFrame()

for filename in os.listdir("S1_Dataset_Path"):
    if filename != "README.txt" : 
        data_path = os.path.join(S1_Dataset_Path, filename)
        data = pd.read_csv(data_path, header=None)
        s1_data = s1_data.append(data, ignore_index=True)
    
s1_data.columns = ['Time', 'Frontal_Acc', 'Vertical_Acc', 'Lateral_Acc', 'ID', 'RSSI', 'Phase', ' Frquency', 'Activity' ]

print("Updated successfully!!! Done!!")

s1_data.info()

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'S1_Dataset_Path'